@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: K2D;
    src: url(fonts/K2D-Regular.ttf);
}

body{margin: 0;
    font-family: Inter;}

.header{
    height: 160px;
    border-bottom: 3px solid #747474;
    margin: 30px 20px 20px 20px;
    display:flex;
    align-items: start;
    justify-content: space-between;
}
.calendar{
    display: flex;
    flex-direction: column;
    font-family: K2D;
    align-items: center;
}
#day{font-size: 48px;}
#monthNyear{font-size: 40px;}



nav{display: none;}


.mainStuff{
    gap: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
.mainStuff div{
    display:flex;
    gap:40px;
    
}
.footer{
    height: 160px;
    border-top: 3px solid #747474;
    margin: 20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}
.footer_bottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    margin-top: 20px;
}