@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: K2D;
    src: url(fonts/K2D-Regular.ttf);
}

body{margin: 0;
    font-family: Inter;}

.mainStuff{
    gap: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
.mainStuff div{
    display:flex;
    gap:40px;
    
}
.mainStuff img{
    cursor: pointer;
}

